<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/assets/banner_index.jpg');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Welcome to our Cocktail Manager, where the best recipes of cocktails are stored</p>
    <%= link_to 'Add new Cocktail', new_cocktail_path, {class: "btn btn-primary"} %>
  </div>
</div>

<div class="container">
<p id="notice"><%= notice %></p>
<table class="table table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
        <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
        <td><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>

