<p id="notice"><%= notice %></p>
<p>
  <h1><%= @cocktail.name %></h1>
</p>

<table class="table table-hover">
     <thead>
       <tr>
         <th>Dose</th>
         <th>Ingredient</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>
           <% @cocktail.doses.each do |dose| %>
             <p><%= dose.description %></p>
           <% end %>
         </td>
         <td>
           <% @cocktail.ingredients.each do |ingredient| %>
             <p><%= ingredient.name %></p>
           <% end %>
         </td>
       </tr>
     </tbody>
   </table>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %> |
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>


