<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <h1><%= @cocktail.name %></h1>
</p>

<table class="table table-hover table-show">
     <thead>
       <tr>
         <th>Ingredient</th>
         <th>Dose</th>
       </tr>
     </thead>
     <tbody>
    <% @cocktail.doses.each do |dose| %>
      <tr>
        <td>
          <%= dose.ingredient.name %>
        </td>
        <td>
          <%= dose.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
   </table>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %> |
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>

</div>
